= form_for Calendar.new do |f|
  %fieldset
    .row
      .span4
        .input-block
          %legend Starting date
          .calendar
            .datepicker{ :"data-target" => 'calendar_range_start' }
            = f.hidden_field :range_start
      .span4
        .input-block
          %legend Ending date
          .calendar
            .datepicker{ :"data-target" => 'calendar_range_end' }
            = f.hidden_field :range_end
      .span4
        .input-block
          %legend Give it a title!
          .sideform
            = f.text_field :title, :placeholder => 'Give it a title', :class => 'input-large'
            = f.submit 'Create Calendar!', :class => 'btn btn-medium btn-primary'
