= form_for(Calendar.new, :html => { :class => 'form-horizontal' }) do |f|
  %fieldset
    %legend Create a calendar
    .control-group
      = f.label :title, :class => 'control-label'
      .controls
        = f.text_field :title, :class => 'input-xlarge'
    .control-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_area :description, :rows => 3
    .control-group
      = f.label 'Duration of Event', :class => 'control-label'
      .controls
        = f.text_field :range_start, :class => 'datepicker'
        %span to
        = f.text_field :range_end, :class => 'datepicker'
    .form-actions
      = f.submit 'Create!', :class => 'btn btn-large btn-primary'
