= form_for([@calendar, Participant.new], :html => { :class => 'form-horizontal' }) do |f|
  %fieldset
    .row
      .span8
        .input-block
          %legend
            %span= @calendar.title
            %span - What days will you be available?
          .calendar
            = calendar_for(@calendar.availabilities) do |cal|
              = cal.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')
              - cal.day(:day_method => :on) do |date, availabilities|
                - if @calendar.range_start <= date && date <= @calendar.range_end
                  = check_box_tag 'participant[availabilities_attributes][][on]', date
                - availabilities.each do |av|
                  = av.participant
                - if date.day == 1
                  = date.month
                - else
                  = date.day
      .span4
        .input-block
          %legend Add your name
          .sideform
            = f.text_field :name, :placeholder => 'Your name', :class => 'input-large'
            = f.submit "Add", :class => 'btn btn-primary'
        .input-block
          %legend Share this calendar
          .sideform
            = link_to "Share", "https://www.facebook.com/sharer/sharer.php?u=#{u(request.protocol)}#{u(request.host_with_port)}#{u(request.fullpath)}", :class => 'btn btn-secondary btn-medium'
            %span.tweet
              = link_to "Tweet", "https://twitter.com/share", class: "twitter-share-button", data: { via: "wangplao", text: "#{@calendar.title}", url: "#{request.protocol}#{request.host_with_port}#{request.fullpath}" }
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
.row
  .span12
    %legend
      %span Comments
    #disqus_thread
    :javascript
      var disqus_shortname = 'wangplao'; // required: replace example with your forum shortname
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    %noscript
      Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
